* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    padding: 40px;
    color: white;
    padding-top: 90px;


}

h1 {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* Grid */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

/* Card */
.card {
    background: rgba(20, 30, 40, 0.85);
    color: white;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 30px 60px rgba(0,0,0,0.8);
}

/* Image */
.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    display: block;
}

/* Title */
.card h2 {
    margin: 20px 0;
    font-size: 22px;
    letter-spacing: 1px;
}

/* Info */
.info {
    padding: 0 25px;
    text-align: left;
}

.info p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: #dcdcdc;
}

/* Price */
.price {
    margin: 25px 0;
    font-size: 30px;
    color: #2ecc71;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(46, 204, 113, 0.6);
}

/* Button */
button {
    width: 80%;
    margin-bottom: 25px;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 198, 255, 0.6);
}
.reserve-btn {
    display: block;
    width: 80%;
    margin: 20px auto 25px;
    padding: 14px;

    border: none;
    border-radius: 30px;

    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;

    font-size: 16px;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    transition: all 0.3s ease;
}

.reserve-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 198, 255, 0.6);
}


/* NAVBAR */
.navbar {
    position: fixed;        /* يفضل ثابت فوق */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 1000;
}

/* LOGO */
.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #3a5a7c;
}
